@import '../../App.scss';

.steps-indicator {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 10px auto;
  position: relative;
  z-index: 1;
}

.step {
  flex: 2 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  max-width: 24px;
  border: 2px solid black;
  border-radius: 24px;
  padding: 10px;

  &.active {
    background-color: black;
    font-weight: 900;
    color: white;
  }
}

.step-separator {
  flex: 3 1 auto;
  height: 1px;
  background-color: black;
}

.content {
  height: 50vh;
  overflow: auto;

  @include pretty-scroll;
}