@import '../../App.scss';
// .input-wrapper {
//   height: 80px;
// }

.input {
  width: calc(100% - 16px);
  height: 30px;
  padding: 8px;
  // margin-bottom: 4px;
  margin: 4px;
  border: 1px solid black;
  border-radius: 4px;
  outline: 0;

  background-position: right center;
  background-repeat: no-repeat no-repeat;
}

.select {
  list-style: none;
  cursor: pointer;
}

.selectOptions {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-height: 33vh;
  overflow: auto;
  border-radius: 4px;
  @include pretty-scroll;

  li {
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.placeholder {
  color: #7a7a7a;
}

.input-error {
  color: tomato;
  border-color: tomato;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="tomato" width="30px" height="20px"><text x="5" y="15">✖</text></svg>');
}

.input-valid {
  color: green;
  border-color: green;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="green" width="30px" height="20px"><text x="5" y="15">✔</text></svg>');
}

.error {
  color: tomato;
}

.hint {
  color: green;
}