.primary {
  background-color: rgb(0, 15, 45);
}

.primary-text {
  color: #fff;
}

.secondary {
  background-color: rgb(255, 250, 239);
}

.secondary-text {
  color: black;
}

.button-primary {
  background-color: rgb(28, 128, 255);
}

.button-secondary {
  background-color: rgb(233, 233, 233);
}