.primary {
  background-color: rgb(20, 28, 74);
}

.primary-text {
  color: #fff;
}

.secondary {
  background-color: rgb(255, 250, 239);
}

.secondary-text {
  color: black;
}

.button-primary {
  background-color: rgb(255, 28, 148);
}

.button-secondary {
  background-color: rgb(255, 209, 0);
}