$popupIndex: 100;

.popup {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  max-height: 90vh;
  position: fixed;
  border-radius: 16px;
  z-index: $popupIndex;
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: fit-content;
  justify-content: center;
}

.center {
  margin: auto;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}

.bottom-right {
  bottom: 30px;
  right: 30px;
}

.big {
  max-width: 640px;
}

.medium {
  max-width: 420px;
}

.small {
  max-width: 230px;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: $popupIndex - 1;
}