.birthdate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  // flex: 1 1 70%;
  display: flex;
  // justify-content: space-between;
  max-width: 300px;
}

.min-age {
  flex: 1 1 30%;
  border: 1px solid black;
  max-width: 42px;
  margin-left: 8px;
  width: 42px;
  height: 42px;
  border-radius: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}